.CanvasComponent {
  position: relative;
  height: auto;
  left: 0;
}

.Canvas {
  position: relative;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

canvas {
  box-shadow: none;
}