.DownloadCanvas {
  position: absolute;
  width: auto;
  height: auto;
}

.Main {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}
