.VideoEditor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.Main {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}


.DownloadCanvas {
  position: absolute;
  width: auto;
  height: auto;
}
