.VideoToolbar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.BorderDiv {
  width: 1px;
  height: 20px;
  background: #ececec;
}

.StrokeContainer,
.StrokeWidthContainer,
.CircleCropContainer,
.RadiusContainer,
.CropContainer,
.DoneContainer {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}
.StrokeContainer:hover,
.DoneContainer:hover,
.CircleCropContainer:hover,
.CropContainer:hover,
.StrokeWidthInput:hover,
.RadiusInput:hover,
.StrokeWidthArrowContainer:hover {
  background: rgba(88, 110, 224, 0.06);
}
.StrokeContainer:active,
.DoneContainer:active,
.CircleCropContainer:active,
.CropContainer:active,
.StrokeWidthInput:active,
.RadiusInput:active,
.StrokeWidthArrowContainer:active {
  background: rgba(88, 110, 224, 0.12);
}

.StrokeContainer p,
.CircleCropContainer p,
.CropContainer p {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  margin-left: 0.375rem;
}

.CropContainer {
  padding-left: 1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-right: 0.75rem;
}

.DoneContainer {
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 15px;
}

.CircleCropContainer,
.StrokeContainer {
  padding: 0 0.75rem;
  line-height: normal;
}

.CircleCropCircle {
  border-radius: 100%;
  border: 0.1px solid #000000;
  width: 0.875rem;
  height: 0.875rem;
  margin-top: 1px;
}

.RadiusContainer {
  width: 4rem;
  padding-left: 0.75rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.RadiusInput {
  width: 100%;
  padding-left: 0;
  text-align: right;
  height: 100%;
  border: none;
  font: inherit;
  font-weight: 300;
  text-align: center;
}

.RadiusInput:focus {
  outline: none;
}

.RadiusInput::selection {
  background: #abb6ef;
}

.BorderStyle {
  border-radius: 15px;
}

.DownArrow {
  width: 0.5rem;
  height: auto;
  user-select: none;
}

.ColorPickerBorder {
  border: 0.1px solid #c4c4c4;
  height: 1rem;
  width: 1rem;
  border-radius: 30px;
  margin-right: 0.3125rem;
  margin-top: 1px;
}

.ColorPicker {
  background: black;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.StrokeWidthContainer {
  width: 4.25rem;
  overflow: hidden;
}

.StrokeWidthInputContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StrokeWidthInput {
  width: 100%;
  padding-left: 0;
  text-align: right;
  height: 100%;
  border: none;
  font: inherit;
  font-weight: 300;
}

.StrokeWidthInput:focus {
  outline: none;
}

.StrokeWidthInput::selection {
  background: #abb6ef;
}

.StrokeWidthArrowContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
