.Controls {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: none;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.Visible {
  opacity: 1 !important;
  cursor: default;
}

.Hover:hover {
  opacity: 1 !important;
  cursor: default;
}

.ControlsPanel {
  background: #6f7bd0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
}

.PlayPause,
.FullScreen {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 3rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background 0.2s ease-out;
}

.PlayPause:focus,
.FullScreen:focus {
  outline: none;
}
.PlayPause:hover,
.FullScreen:hover {
  background: rgba(0, 0, 0, 0.6);
}

.PlayPause {
  padding-left: 2px;
}

.FullScreenSize {
  max-height: 100vh;
}
