.Webinar {
  margin-top: 2.5rem;
  /* max-width: 1300px; */
}
.Heading {
  margin: 0;
  margin-bottom: 0.375rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-left: 3.625rem;
}

.Subheading {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #3c3c3c;
  margin-left: 3.625rem;
}

.TemplatesList {
  margin: 0 2.875rem;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Template {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  width: 20%;
}

.TemplateInner {
  color: #545464;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  cursor: pointer;
  transition: border 0.1s ease-out;
  user-select: none;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  padding-top: 56.25%;
}

.TemplateInner:hover {
  border: 1px solid #6f7bd0;
}

@media (min-height: 600px) and (max-width: 2000px) {
  .Template {
    width: 25%;
  }
}
@media (min-height: 600px) and (max-width: 1600px) {
  .Template {
    width: 33.33%;
  }
}
@media (min-height: 600px) and (max-width: 1100px) {
  .Template {
    width: 50%;
  }
}
@media (min-height: 600px) and (max-width: 800px) {
  .Template {
    width: 100%;
  }
}
