.Navbar {
  width: 100%;
  min-height: 3.125rem;
  height: 3.125rem;
  background: white;
  border: 1px solid #eff1f4;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.BackFileInfoContainer {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.BackButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.5rem 0.3rem;
  border-radius: 3px;
  transition: background 0.1s ease-out;
}

.BackButton:hover {
  background: rgba(111, 122, 208, 0.12);
}

.BackArrow {
  cursor: pointer;
}

.FileInfoContainer {
  cursor: pointer;
}

.FileName {
  margin: 0;
  font-size: 0.75rem;
  line-height: 0.9rem;
  white-space: nowrap;
}

.Creater {
  margin: 0;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 0.75rem;
  color: #b5b5b5;
  white-space: nowrap;
}

.EditVideo {
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
  padding: 0.5rem;
  border-radius: 3px;
  transition: background 0.1s ease-out;
}

.EditVideo:hover {
  background: rgba(111, 122, 208, 0.12);
}

.UserInfoContainer {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.User {
  margin-left: 1rem;
  background: #d18a72;
  border-radius: 100%;
  padding: 0.375rem 0.5rem;
  cursor: pointer;
}

.UserInitials {
  margin: 0;
  color: white;
  font-size: 0.75rem;
  line-height: 1.25rem;
  user-select: none;
}

.LogInLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  color: #6f7bd0;
  margin-right: 1.25rem;
}

.SignUpLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.75rem;
  background: #6f7bd0;
  text-align: center;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
