.Slider {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: #d9d9d9;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}

.Slider:focus {
  outline: none;
}

.Slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.Slider::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #d9d9d9;
}

.Slider::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: #d9d9d9;
}

.Slider::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
  margin-top: -2.5px;
  background: #000000;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.1s ease-in;
}

.Slider::-moz-range-thumb {
  height: 9px;
  width: 9px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  transition: all 0.1s ease-in;
}

.Slider::-ms-thumb {
  height: 9px;
  width: 9px;
  border-radius: 30px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
  transition: all 0.1s ease-in;
}

.Slider::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}
.Slider:hover::-moz-range-thumb {
  transform: scale(1.3);
}
.Slider:hover::-ms-thumb {
  transform: scale(1.3);
}
