.DragDrop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.UploadText {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
  color: #464646;
  margin: 0;
  margin-bottom: 1.875rem;
}

/* .UploadVideo {
  border: none;
  background: #6f7bd0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.UploadVideo:active {
  background: #5f68b3;
} */

.DropArea {
  height: 17.1875rem;
  border-radius: 4px;
  min-width: 20.6875rem;
  max-width: 51.6875rem;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23B5B5B5FF' stroke-width='2' stroke-dasharray='8%2c 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.DropArea:hover {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%236F7BD0FF' stroke-width='2' stroke-dasharray='8%2c 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.DropAreaContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DropAreaText {
  margin-left: 1.25rem;
  text-align: center;
}

.DropAreaHeading {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
  color: #464646;
  margin: 0;
  margin-bottom: 0.375rem;
}

.DropAreaSubheading {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
  color: #b5b5b5;
}

.DropAreaBrowse {
  text-decoration: underline;
  color: #6f7bd0;
}

.Active {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%236F7BD0FF' stroke-width='2' stroke-dasharray='8%2c 13' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
