.UploaderMock {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  padding: 0 5rem;
  padding-top: 8.3125rem;
  margin: 0.5rem 2.5rem 1rem 2.5rem;
}

.UploadVideo {
  border: none;
  background: #6f7bd0;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.UploadVideo:active {
  background: #5f68b3;
}